:root {
    color-scheme: light dark;
    --body-color: rgb(255,255,255);
    --spacing: 20px;
    --text-color: rgb(36, 41, 47);
    --border-color: rgb(216, 222, 228);
    --link-color: rgb(9, 105, 218);
    --header-color: rgb(246, 248, 250);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --body-color: rgb(34, 39, 46);
    --border-color: rgb(55, 62, 71);
    --text-color: rgb(173, 186, 199);
    --link-color: orange;
    --header-color: rgb(45, 51, 59);
  }
}

body {
    width: 280px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    font-family: system-ui;
    text-align: center;
    
    background-color: var(--body-color);
    color: var(--text-color);
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--header-color);
  border-bottom: 1px solid var(--border-color);
  width: 360px;
}

h1 {
    margin: 10px 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav > p {
    margin: 0;
}

h2 {
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    margin: 18px 0;
}

#wrapper {
    padding-bottom: 20px;
}

fieldset {
    margin: 20px 0;
}

svg {
    width: 16px;
    height: 16px;
    fill: var(--link-color);
}

#state {
    margin: auto;
}
